<div class="px-4 py-5 mb-5 bg-light text-center">
  {{ with .Site.Params.header }}
  <h1 class="display-5 fw-bold">{{ .name }}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">{{ .tagline }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
  {{ end }}
</div>
