<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="h-100">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <main class="flex-shrink-0">
      {{ partial "featured.html" . }}
      <div class="container">
        {{ partial "summary.html" . }}
        {{ partial "projects.html" . }}
      </div>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
